<!DOCTYPE html>

<head>
    <title>BioSimDB webform</title>
    {% extends "main/base.html" %}
</head>

<body>

    {% block content %}

    <!--Alert the user at the top of the form after form is submitted-->
    <div class="container">
        {# get_flashed_messages() is auto sent to the template with the flash() call #}
        {% for mess in get_flashed_messages()  %}
        {% if mess == "Submission entered into database." %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% endif %}
            {{mess}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
    </div>

    <!--Start of webform-->
    <form class="upload-form container bg-white rounded border" action="/webform" method="POST" enctype="multipart/form-data" id="simulationForm" >
    <div class="container bg-white">
        </br>
        <h1 class="text-left">Add Your Simulation</h1>
        <p class="text-left">
            Add a simulation to your database by filling in the form below. 
        </p>

        <!--Fields for author information-->
        <br /><h4>1. Author information</h4>
            <p>Add the name and email of the corresponding author, along with any authors and citations that have contributed to this work.</p>

        <!-- Field for adding name for corresponding author -->
        <div class="row">
            <div class="col-sm">
            <label for="name" class="form-label">Corresponding author<span class="required">*</span></label>
            <input type="text" class="form-control" id="name" placeholder="Enter full name" name="creator_name" required>
            </div>
        </div>

        <!-- Field for adding email for corresponding author -->
        <div class="row">
            <div class="col-sm">
            <label for="input_email" class="form-label">Corresponding email address <span class="required">*</span></label>
            <input type="email" class="form-control" id="input_email" aria-describedby="emailHelp" placeholder="Enter an institutional email" name="creator_email" required>
            </div>
        </div>

        <!-- Field for adding institution for corresponding author -->
        <div class="row">
            <div class="col-sm">
            <label for="institution" class="form-label">Corresponding institution <span class="required">*</span></label>
            <input type="text" class="form-control" id="institution" aria-describedby="emailHelp" placeholder="Enter institution name" name="creator_institution" required>
            </div>
        </div>

        <!--Fields for adding addtional authors-->
        <div id="authorFields"></div>

        <div class="mt-3 d-grid gap-2">
            <button type="button" class="btn btn-secondary btn-sm" id="addAuthorField">Add another author</button>
        </div>

        <!--Fields for adding citations-->
        <div id="citationFields">
            <div class="row">
                <div class="col-sm">
                <label for="author1" class="form-label">Citation/s</label>
                <input type="text" class="form-control" id="author1" placeholder="Include DOI of the published work related to uploaded simulation/s" name="citation_name[]">
                </div>
            </div>
            </div>
    
            <div class="mt-3 d-grid gap-2">
                <button type="button" class="btn btn-secondary btn-sm" id="addCitationField">Add another citation</button>
            </div>

        <!--Section of form for simulation files-->        
        <br /><br /><h4>2. Simulation details</h4>
            <p>Add a title and description of your simulation, similar to a scientific journal.</p>
        <label for="system" class="form-label">Title <span class="required">*</span></label>
        <input type="text" class="form-control" id="system" name="sim_title" placeholder="Give the simulation a title" required>

        <label for="description" class="form-label">Abstract <span class="required">*</span></label>
        <textarea class="form-control" id="description" rows="2" name="sim_description" required placeholder="Add why the simulation was performed and its scientific significance"></textarea>

          <!--Fields for adding simulation entries-->   
          <div id="simulationFields">
            <br /><br /><h4>3. Add simulation files</h4>
            <p>Upload a topology and trajectory file, and/or upload the aiida archive file containing the full provenance of your simulation. </p>

            <!-- Add a card with notes about how many entries can be uploaded -->
            <div class="card border-secondary mb-3">
                <div class="card-header">Notes:</div>
                <div class="card-body text-secondary">
                  <!-- <h5 class="card-title">Note</h5> -->
                  <ul>
                  <li class="card-text">A maximum of 5 entries can be uploaded per submission.</li>
                  <li class="card-text">For each simulation entry, multiple trajectory files can be uploaded with the associated topology file.</li>
                  <li class="card-text">Automatically add metadata associated with each entry using the "Add entry metadata" button. Please fill in any missing metadata fields where applicable.</li>
                  </ul>
                </div>
            </div>

            <!-- Fields for uploading files for first simulation entry -->
            <div class="entry-block" data-index="1">
                <h5>Entry 1.</h5>
                <div class="row form-group">
                    <div class="col-sm">
                        <label for="simulation1" class="form-label">Upload topology file
                        </label>
                        <input class="form-control" type="file" id="simulation1" name="topology_file1[]">
                    </div>
                    <div class="col-sm">
                        <label for="simulation1" class="form-label">Upload trajectory file/s
                        </label>
                        <input class="form-control" type="file" id="simulation1" name="trajectory_file1[]" multiple="">
                    </div>
                    <div class="col-sm">
                        <label for="simulation1" class="form-label">Upload aiida archive file</label>
                        <input class="form-control" type="file" id="simulation1" name="aiida_archive_file1[]">
                    </div>
                </div> 

                
                <div class="mt-3 d-grid gap-2">
                    <div class="row">
                        <div class="col-sm mt-3 d-grid">
                            <!-- Button for extracting metadata from files -->
                            <button type="button" class="btn btn-outline-primary btn-sm extract-metadata-btn" id="extractMetadataField1">Add entry metadata</button>
                        </div>
                        <div class="col-sm mt-3 d-grid">
                            <!-- Button to clear metadata -->
                            <button type="button" class="btn btn-outline-warning btn-sm clear-metadata-btn" id="clearMetadataField1">Clear Metadata</button>
                        </div>
                    </div>
                </div>

                <!-- Accordion for entry metadata -->
                <div class="accordion mt-3" id="metadataAccordionEntry1">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingMetadata1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMetadata1" aria-expanded="false" aria-controls="collapseMetadata1">
                          Entry 1 Metadata
                        </button>
                      </h2>
                      <div id="collapseMetadata1" class="accordion-collapse collapse" aria-labelledby="headingMetadata1" data-bs-parent="#metadataAccordionEntry1">

                        <div class="accordion-body metadata-fields1">
                            <!-- Auto-populate metadata here -->
                        </div>

                      </div>
                    </div>
                </div>
            
            </div> 
          </div>  
        
          <div class="mt-3 d-grid gap-2">

            <!-- Button for adding more simulation entries -->
            <button type="button" class="btn btn-secondary btn-sm" id="addSimulationField">Add another simulation entry</button>

            <!-- Button for submitting form -->
            <input type="submit" class="btn btn-outline-success btn-lg" name="submit" value="Submit">

          </div>
          <br />

    </div>
    </form>

    {% endblock %}

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/webform.js') }}"></script>
    {% endblock %}
</body>

</html>
